app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 2;
}

main {
  position: absolute;
  width: 100%;
  top: 6.5rem;
  z-index: 1;
}

app-sidebar {
  position: fixed;
  left: 0rem;
  top: 78px;
  width: 60px;
  height: calc(100vh - 3rem);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0);
  background-color: rgba(59, 70, 138, 0.35);
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;
}

.app-side-nav-open {
  width: 250px;
}

.display-area {
  position: absolute;
  left: 60px;
  width: calc(100% - 60px);
  transition: left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink {
  left: 250px;
  width: calc(100% - 250px);
}