<header class="bg-dark text-white">
    <div class="d-flex justify-content-between align-items-center p-1"
            style="background-color: rgba(0, 0, 0, 0.2)">


        <nav class="navbar navbar-expand navbar-dark px-2">
            <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggled()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>

        <div class="text-center">!!!</div>

        <nav class="navbar">
            <ul class="navbar nav ml-auto">
                <li>
<!--                    <a
                            routerLinkActive="active"
                            class="text-info text-decoration-none ms-3 p-1"
                            routerLink="./home"
                    >Home</a
                    >-->
                </li>
                <button style="margin-right: 10px" type="button" class="btn btn-info ms-3" (click)="logout()">
                    Logout
                </button>
            </ul>
        </nav>
    </div>
</header>